body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0f171e;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.main {
    display: flex;
    padding: 40px;
}

/* LEFT SIDE */
.left {
    width: 40%;
}

.left h1 {
    font-size: 40px;
}

.left p {
    margin: 20px 0;
    color: #ccc;
}

.plan {
    display: block;
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    background: #1f2a35;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.plan:hover {
    background: #2c3b4a;
}

/* RIGHT SIDE */
.right {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    height: 150px;
    background: #1f2a35;
    border-radius: 10px;
}

.large {
    grid-column: span 2;
    height: 200px;
}
